body {
    font-family: 'Special Elite', cursive;
    background-color: antiquewhite;
}

.header_div {
    background-color: white;
    color: red;
}

.header_div img{
    width: 100px;
}

.main_div {
    background-color: darkgray;
    padding: 10px;
    margin-top: 15px;
    border: solid 4px black;
}

.main_div label{
    background-color: cornflowerblue;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px whitesmoke;
}

#camera {
    border: ridge 3px black;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px cornflowerblue;
}

.main_div button{
    width:310px;
    font-size: 15px;
    box-shadow: 5px 5px 18px cornflowerblue;
    border: solid 4px black;
}