h3 {
    font-size: 25px;
}

.btn-success:hover {
    background-color: red;
}

canvas {
    animation-name: oof;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes oof{
    from{box-shadow: 2px 2px 20px blue;
    }

    to{
        box-shadow: 2px 2px 20px blueviolet;
    }
}